language: node_js
services: docker
cache:
  directories:
    - $HOME/.npm
notifications:
  email: true
node_js:
  - '8'
  - '10'
before_script:
  - npm prune
  - npm run redis:up -- -d && sleep 10
after_success:
  - npm install -g travis-deploy-once
  - travis-deploy-once "npm run release"
  - npm run coverage
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
