language: node_js
services: redis
cache:
  directories:
    - node_modules
notifications:
  email: true
node_js:
  - '8'
  - '6'
before_script:
  - npm prune
after_success:
  - npm run semantic-release
  - npm run coverage
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
